/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
@import "primary/home";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
10.4 Page Parts
--------------------------------------------------------------*/
@import "global/header";
@import "global/footer";

.wrap {
	max-width 	: $size__max-width;
	margin 		: 0 auto;
	padding 	: 1em;

	&.content-wrap {
		padding: 0;
	}
}