$size__site-main		: 100%;
$size__site-sidebar		: 25%;

$size__default-bot-marg	: 1.5em;
$size__max-width 		: 950px;

$bp__menu-button		: 600px;
$bp__header 			: 700px;
$bp__menu_dividers 		: 725px;
$bp__tablet				: 768px;
$bp__footer-address 	: 801px;
$bp__menu_spacing 		: 830px;
$bp__home-sidebar 		: 965px;
$bp__laptop				: 1000px;

